@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-900: #163a34;
  --color-neutral-600: #395852;
  --color-neutral-300: #d0dcd9;
  --color-neutral-200: #e0e6e3;
  --color-neutral-100: #f6f5f1;
  --color-neutral-0: #ffffff;

  --color-orange-500: #fe9f6b;
  --color-teal-500: #49ac9b;
  --color-indigo-500: #697ddb;
  --color-link: #293241;
  --font-nunito: "Nunito", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}

/* -----------------------------------
   VARIABLE FONT IMPORTS
------------------------------------ */

/* NUNITO — NORMAL */
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* NUNITO — ITALIC */
@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* NUNITO SANS — NORMAL */
@font-face {
  font-family: "Nunito Sans";
  src: url("/src/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLCopszwdthwght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* NUNITO SANS — ITALIC */
@font-face {
  font-family: "Nunito Sans";
  src: url("/src/assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLCopszwdthwght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* TEXT PRESETS */

/* ----------- Text Preset 1 ----------- */
.tp-1 {
  font-family: var(--font-nunito);
  font-weight: 800;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -2px;
}

@media (max-width: 1024px) {
  .tp-1 {
    font-size: 64px; /* Tablet */
  }
}

@media (max-width: 640px) {
  .tp-1 {
    font-size: 52px; /* Mobile */
  }
}

/* ----------- Text Preset 2 ----------- */
.tp-2 {
  font-family: var(--font-nunito);
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -2px;
}

@media (max-width: 640px) {
  .tp-2 {
    font-size: 40px; /* Mobile */
  }
}

/* ----------- Text Preset 3 ----------- */
.tp-3 {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -1px;
}

/* ----------- Text Preset 4 ----------- */
.tp-4 {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
}

/* ----------- Text Preset 5 ----------- */
.tp-5 {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
}

/* ----------- Text Preset 6 ----------- */
.tp-6 {
  font-family: var(--font-nunito-sans);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.4px;
}

/* ----------- Text Preset 7 ----------- */
.tp-7 {
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

/* ----------- Text Preset 8 ----------- */
.tp-8 {
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

/* ----------- Text Preset 9 ----------- */
.tp-9 {
  font-family: var(--font-nunito-sans);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

/* ----------- Text Preset 10 ----------- */
.tp-10 {
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
